<div class="container">
  <div class="nav">
    <a href="/upload" class="nav-link">Загрузить файл</a>
    <a href="/bot-users" class="nav-link">Пользователи</a>
    <a href="/professional-sources" class="nav-link">Профессиональные источники</a>

    <button class="nav-link nav-link_button" id="logout">Выйти</button>
  </div>
  <h1 class="title">Список файлов</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Название</th>
        <th>Дата создания</th>
      </tr>
    </thead>
    <tbody>
      {{#each csvFiles}}
      <tr>
        <td>{{this.path}}</td>
        <td>{{this.createdAt}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <a href="/upload" class="btn btn-primary">Загрузить новый файл</a>
</div>